@{
    ViewData["Title"] = "CountryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
@model DataTable;

<div class="container-fluild">

    <div class="container">
        <div>
            <h2>@TempData["LOC_Country_Delete_Msg"]</h2>
            <h2>@TempData["LOC_Country_Update_Msg"]</h2>
        </div>

        <div class="container">
            <h2>Search Box</h2>
            <hr />
            <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country">
                <div class="row">

                    <div class="form-floating col-4">
                        <input type="text" class="form-control " id="floatingInput" name="CountryName" placeholder="India" value="@ViewBag.CountryName" />
                        <label for="floatingInput">&nbsp;&nbsp; Country Name</label>
                    </div>
                    <div class="form-floating col-4">
                        <input type="text" class="form-control " id="floatingInput" name="CountryCode" placeholder="IND" value="@ViewBag.CountryCode" />
                        <label for="floatingInput">&nbsp;&nbsp; Country Code</label>
                    </div>

                    <div class="col-4">
                        <button type="submit" class="btn btn-success " asp-action="Search">Search</button>
                        &nbsp;
                        <a class="btn btn-danger " asp-action="Index">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <hr />

        <div class="d-flex">
            <div style="flex-grow:9">
                <span style="font-size: 30px; font-weight: 700; margin-bottom: 10px">Country List</span>
            </div>
            <div style="flex-grow:1">
                <form asp-area="LOC_Country" asp-controller="LOC_Country">
                    <button type="submit" class="btn btn-primary " asp-action="Add">Insert Record</button>
                </form>
            </div>
            <hr />
        </div>
    </div>
    <br />
    <div class="table-responsive pb-3 border-dark border-bottom border-3 align-middle">
        <table id="kt_datatable_dom_positioning" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 px-7">
                    <th scope="col">Country Name</th>
                    <th scope="col">Country Code</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Modification Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            <tbody>
                    @foreach (DataRow dr in Model.Rows)
                    {
                    <tr>
                        <td>@dr["CountryName"]</td>
                        <td>@dr["CountryCode"]</td>
                        <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                        <td>@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-MM-yyyy")</td>
                        <td>
                            <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country">
                                    @*<input type="hidden" name="CountryID" value="@Convert.ToInt32(dr["CountryID"])" />*@
                                <button type="submit" class="btn btn-primary " asp-action="Add" asp-route-CountryID="@Convert.ToInt32(dr["CountryID"])"><i class="fa-solid fa-pen-to-square"></i></button>
                            </form>
                        </td>
                        <td>
                            <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country">
                                <input type="hidden" name="CountryID" value="@Convert.ToInt32(dr["CountryID"])" />
                                <button type="submit" class="btn btn-danger " asp-action="Delete" onclick="return Take_Confirmation()"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
    {
    <script>
        function Take_Confirmation() {
            if (confirm("Are You Sure You Want To Delete?"))
                return true;
            else
                return false;
        }
                        //$(document).ready(function () {
                        //    $(".sample_1")[1].on("keyup", function () {
                        //        var value = $(this).val().toLowerCase();
                        //        $("#sample_2 tr").filter(function () {
                        //            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        //        });
                        //    });
                        //});
    </script>
}